html {
  background-color: #2a2a2a;
  color: #f0f0f0;
  font-family: "Ubuntu", sans-serif;
  font-size: small;
}

.btn {
  border: #f0f0f0 1px solid;
  background-color: #2a2a2a;
  border-radius: 5px;
  color: #f0f0f0;
  text-align: center;
}

.btn:active {
  background-color: #f0f0f0;
  color: #2a2a2a;

}

.btn:active .roll-icon {
  filter: invert(100%);
}

.filler {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  row-gap: 1rem;
  width: 1080px;
}

.field-label {
  text-align: right;
}

.field {
  border: #f0f0f0 1px solid;
  border-radius: 5px;
  text-align: center;
  grid-column: span 5;
}

.grid-col-span-12 {
  grid-column: span 12;
}

.grid-col-span-6 {
  grid-column: span 6;
}

.grid-col-span-5 {
  grid-column: span 5;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-1 {
  grid-column: span 1;
}

.group-label {
  grid-column: span 2;
}

.nav-bar {
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.nav-icon,
.roll-icon {
  height: 64px;
  margin: auto;
  width: auto;
}

.nav-item {
  border: #f0f0f0 1px solid;
  color: #f0f0f0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.nav-item-active {
  background-color: #f0f0f0;
  color: #2a2a2a;
}

.nav-item:hover {
  border: #2a2a2a 1px solid;
  background-color: #f0f0f0;
  color: #2a2a2a;
}

.nav-item-active .nav-icon,
.nav-item:hover .nav-icon {
  filter: invert(100%);
}

.page {
  column-gap: .5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  row-gap: 1rem;
  width: 100%;
  overflow: auto;
}

.page a,
.page a:hover,
.page a:visited {
  color: #f0f0f0;
}

#page-text-container p {
  margin: 1rem;
}

.temp-label {
  grid-column: span 1;
  text-align: right;
}

.title {
  text-align: center;
}

.hidden {
  display: none;
}

@media (max-width: 1080px) {
  main {
    width: 100%;
  }

  .page {
    padding-left: 5px;
    padding-left: 5px;
  }

  .field {
    grid-column: span 11;

  }

  .field-label {
    grid-column: span 1;
  }

  .nav-icon,
  .roll-icon {
    height: 32px;
  }

  .page {
    padding-right: 5px;
  }

  .spacer {
    display: none;
  }

  .title {
    font-size: medium;
    font-weight: 400;
  }

}

@media(hover: hover) {
  .btn:hover {
    background-color: #f0f0f0;
    color: #2a2a2a;
  }

  .btn:hover .roll-icon {
    filter: invert(100%);
  }
}